@keyframes Animar {

    0% { transform: translateX(0px)}
    50% {transform: translateX(150px)}
    100% {transform: translateX(0px)}

}

.cls-7{
    transform-origin: 25rem 25.4rem;
    animation: Rotar 4s infinite linear;
}

.cls-8{
    transform-origin: 25rem 25.4rem;
    animation: Rotar 4s infinite linear;
}

@keyframes Rotar {

    0% { transform: rotate(0deg)}
    
    100% {transform: rotate(360deg)}

}