.footer{
    background-color: $Black;
    color: $white;
    
}

footer p{
    text-align: center;
    font-family: $poppins;
    font-size: $medium;
    font-weight: $regular;
}

.input{
    width: 50%;
    text-align: center;
    margin: 0 30% ;
}

.button{
    margin: 3% 40% ;
    width: 20%;
    border: none;
    border-radius: 1px;
    background-color: $Orange;
    color: $sable;
    font-family: $poppins;
    font-size: $medium;
    font-weight: $regular;
}

.footer__input{
    display: flex;
    flex-direction: column;
}

    
@media only screen and (min-width: 600px){

    .footer{
    display: flex;
    justify-content: space-around;
    padding: 30px;

    
}

.footer p{
    margin-left: 2rem;
}
    .legal_input{
        display: flex;
        justify-content: space-between;
        width: 22%;
    }

    .footer__input{
        width: 30%;
        
    }

}






