#main{
    margin: .5rem;
}

#main-1{
    margin-bottom: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: $Black;
}

.banner img{
    width:100%;
}

.web-development{
    width: 10%;
    border-radius: 50%;
    border-width: 2px;
    border-color: $Black;
    border-style: solid;
    margin: 0 25%;
   
}

.main-1-1{
    padding: 1rem;
    margin: 15px 0;
    border-width: 1px;
    border-style: dotted;
    border-color: $Black;

   

    h2{
        margin-top: 0.5rem;
        font-family: $ubuntu;
        color: $Black;
        font-size: $xx-large;
        font-weight: $bold;
    }

    p{
        font-family: $poppins;
        color: $regular;
        font-size: $medium;
        line-height: 2rem;
    }

    h3{
        font-family: $ubuntu;
        color: $Black;
        font-size: $x-large;
        font-weight: $bold;
    }

    .main-1-1__rrss{
        width: 35%;
        display: flex;
        justify-content: space-between;
    }

    .rrss{
        width: 20%;
        display: flex;
        justify-content: space-around;
        

    }

    img{
        width: 100%;
    }
}

.main-1-2{
    height: 97.5%;
    padding: 1rem;
    margin: 15px 0;
    border-width: 1px;
    border-style: dotted;
    border-color: $Black;

   

    h2{
        margin-top: 0.5rem;
        font-family: $ubuntu;
        color: $Black;
        font-size: $xx-large;
        font-weight: $bold;
    }

    p{
        font-family: $poppins;
        color: $regular;
        font-size: $medium;
        line-height: 2rem;
    }

    h3{
        font-family: $ubuntu;
        color: $Black;
        font-size: $x-large;
        font-weight: $bold;
    }

    .main-1-1__rrss{
        width: 35%;
        display: flex;
        justify-content: space-between;
    }

    .rrss{
        width: 20%;
        display: flex;
        justify-content: space-around;
        

    }

    .web-development{
        width: 50%;
        border-radius: 50%;
        border-width: 2px;
        border-color: $Black;
        border-style: solid;
        margin: 0 25%;
}


   
}

h2{
    margin-top: 0.5rem;
    font-family: $ubuntu;
    color: $Black;
    font-size: $xx-large;
    font-weight: $bold;
}

p{
    font-family: $poppins;
    color: $regular;
    font-size: $medium;
    line-height: 2rem;
    text-align: start;
}

h3{
    font-family: $ubuntu;
    color: $Black;
    font-size: $x-large;
    font-weight: $bold;
}

.main-1-1__rrss{
    width: 30%;
    display: flex;
    margin: 1rem 0;
    
}

.cursos{
    width: 100%;
    background-color: $sable;
    color: $white;
    text-align: center;
    font-family: $ubuntu;
    font-size: $large;
    font-weight: $bold;
    margin: 1rem 0;
}

.main-1-1__header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__input{
    display: flex;
    flex-direction: column;
}

.animation__img{
    widht: 30%;
}

.web-development{
    width: 10%;
    border-radius: 50%;
    border-width: 2px;
    border-color: $Black;
    border-style: solid;
    margin: 0 25%;
   
}




.path-1{
    transform: translateX(0px);
    animation: Animar 4s ease-in-out infinite;
}






@media only screen and (min-width: 600px){
    .img_web{
        width: 30%;
        align-items: center;
        margin-left: 30%;
    }
}

